* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.header {
    background-color: white;
    height: 100px;
}

.logo {
    background-color: white;
}

h1 {
    background-color: white;
    line-height: 100px;
    display: inline;
    font-weight: bolder;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    background-color: white;
    width: 800px;
    margin-top: 40px;
    border-radius: 10px;
}

.interaction-bar {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: lightgray;
}

.buttons {
    padding: 10px 20px;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;}

#task {
    background-color: #1E90FF;
    color: white;
    border: 2px solid #1E90FF;
}

#section {
    border: 2px solid lightgray;
    background-color: white;
    color: #999;
}

.general-tasks {
    padding: 10px 30px 20px 30px;
}

h3 {
    padding: 30px 20px 20px 0;
    font-weight: 900;
}

.triangle {
    font-size: 0.5em;
}

.circle {
    border: 1px solid green;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    
    
}

.stick {
    background-color: #1E90FF;
    color: white;
    border: 2px solid #1E90FF;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 0.8rem;
}