* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(224, 224, 224);
}

.header {
    background-color: white;
    height: 100px;
}

.logo {
    background-color: white;
}

h1 {
    background-color: white;
    line-height: 100px;
    display: inline;
    font-weight: bolder;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    background-color: white;
    width: 800px;
    margin-top: 40px;
    border-radius: 10px;
}

.interaction-bar {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: lightgray;
}

.buttons {
    padding: 10px 20px;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;}

#task {
    background-color: #1E90FF;
    color: white;
    border: 2px solid #1E90FF;
}

#section {
    border: 2px solid lightgray;
    background-color: white;
    color: #999;
}

.general-tasks {
    padding: 10px 30px 20px 30px;
}

h3 {
    padding: 30px 20px 20px 0;
    font-size: 24px;
}

p {
    padding: 10px 0;
    font-size: 18px;
}

/* ENTITIES */

.triangle {
    font-size: 0.5em;
    vertical-align: middle;
}

.circle {
    border: 1px solid green;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    height: auto;
    width: 25px;
    text-align: center;
    color: green;
    margin: 0 5px 0 0
}

.cross {
    border: 1px solid red;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    height: auto;
    width: 25px;
    text-align: center;
    color: red;
    margin: 0 5px 0 0
}

/* ADESIVI */

.stick {
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 0.8rem;
}

#editorial {
    background-color: #1E90FF;
    border: 2px solid #1E90FF;
}

#q1-goals {
    background-color: #9C72E4;
    border: 2px solid #9C72E4;
}

#recruiting {
    background-color: #64C0A9;
    border: 2px solid #64C0A9;
}

#mobile {
    background-color: #F29E33;
    border: 2px solid #F29E33;
}

#website {
    background-color: #D863A1;
    border: 2px solid #D863A1;
}

#sales {
    background-color: #AFC823;
    border: 2px solid #AFC823;
}