* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.header {
    background-color: white;
    height: 100px;
}

.logo {
    background-color: white;
}

h1 {
    background-color: white;
    line-height: 100px;
    display: inline;
    font-weight: bolder;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    background-color: white;
    width: 800px;
    margin-top: 40px;
}

.interaction-bar {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: lightgray;
}